@font-face {
    font-family: 'Georgia';
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Arial';
    src: url("../../assets/fonts/arial/arial-regular.ttf");
    font-weight: 400;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  header {
      height: 180px;
  }
  
  .container {
      max-width: 1280px;
      margin: auto;
    }

    .container-header {
        background: url("../../assets/images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background-position: center 0;
        align-items: center;
        justify-content: flex-end;
        padding: 60px 40px;
    }

    .container-logo {
        display:flex;
        flex-direction:column;
    }

    .logo-title {
        transition: 0.3s;
        cursor: pointer;
        font-family: 'Georgia';
        font-style: normal;
        letter-spacing: 0.06em;
        font-weight: 400;
        font-size: 32px;
        color: #F1CDB3;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .logo-subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        align-self:flex-end;
        justify-self:flex-start;
        margin: 0;
    }
  
    .logo-title:hover {
      transition: .3s;
      color: #FFFFFF;
    }

    .nav {
        margin-left: auto;
      }

      .nav-list {
        display: flex;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding-left: 30px;
        gap: 35px;
      }
    
      .nav-link {
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color:#CDCDCD;
        transition: color .3s;
      }
    
       .nav-link:focus, .nav-link:active { 
          color: #FAFAFA;
          border-bottom: 3px solid #F1CDB3;
          padding-bottom: 2px;
      }

      .nav-link:hover {
        transition: .3s;
        color: #FAFAFA;
      }

      .current-page {
          border-bottom: 3px solid #F1CDB3;
      } 

      .container-main {
        background: url("../../assets/images/background.jpg");
        background-repeat: no-repeat;
        background-position: center -180px;
        background-size: cover;
        padding: 0 40px;
      }

      .section-shelter-main {
        display: flex;
        justify-content: space-between;
      }

      .shelter-main-container {
          margin-right: 42px;
      }

      .shelter-slogan {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        color: #FFFFFF;
        width: 310px;
        line-height: 130%;
        margin-top: 163px;
        margin-bottom: 42px;
      }

      .shelter-slogan-desc{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #CDCDCD;
        width: 460px;
        line-height: 160%;
        margin-top: 0;
        margin-bottom: 57px;
      }

      .colored-btn {
        background: #F1CDB3;
        border-radius: 100px;
        border: none;
        cursor: pointer; 
        font-family: Georgia;
        font-style: normal;
        font-size: 17px;
        line-height: 130%;
        font-weight: 400; 
        letter-spacing: 0.06em;
        transition: color .3s;
        padding: 15px 45px;
        text-decoration: none;
        color: #292929;
    }
    
    .colored-btn:hover, .colored-btn:focus, .colored-btn:active {
        transition: .3s;
        background: #FDDCC4;
        cursor: pointer;
        color: #292929;
    }

    .shelter-img-container {
        align-self: flex-end;
        width: 698px;
        height: 728px;
        background: url(../../assets/images/start-screen-puppy.png);
    }

    .shelter-desc-container-main {
        display: flex;
        margin: 80px 40px 100px;
        justify-content: center;
        gap: 120px;
        
    }

    .shelter-img-desc-container {
        align-self: center;
    }

    .shelter-desc-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .shelter-desc-title {
        width: 370px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
    }

    .shelter-desc-text {
        width: 430px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
        margin: 0;
    }

    .section-shelter-pets {
        background: #F6F6F6;
    }

    .shelter-pets-container-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;  
        padding: 80px 40px 100px;
    }

    .section-title {
        height: 90px;
        max-width: 400px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
        text-align: center;
    }

    .our-pets {
        display: flex;
        width: 100%;
        gap: 53px;
    }

    .pets {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FAFAFA;
    }

    .pets-img {
        width: 270px;
        height: 270px;
        margin-bottom: 30px;
    }

    .pet-name {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .pets:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        background: #FFFFFF;
        cursor: pointer;
    }

    .uncolored-btn {
        width: 187px;
        height: 52px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        background: transparent;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }

    .pets:hover .uncolored-btn,
    .uncolored-btn:hover, .uncolored-btn:focus, .uncolored-btn:active {
        transition: .3s;
        background: #FDDCC4;
        cursor: pointer;
        border: 0;
    }

    .uncolored-btn-pets {
        margin-bottom: 30px;
    }

    .uncolored-btn-pag {
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        width: 52px;
        height: 52px;
        align-self: center;
        background: transparent;
    }

    .uncolored-btn-pag:hover, .uncolored-btn-pag:focus, .uncolored-btn-pag:active {
        transition: .3s;
        background: #FDDCC4;
        cursor: pointer;
        border: 0;
    }

    .pets-container {
        display: flex;
        gap: 90px;
    }

    .section-shelter-help {
        background: #FFFFFF;
    }

    .shelter-help-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;  
        padding: 80px 40px 100px;
    }

    .help-title {
        width: 310px;
        text-align: center;
    }

    .help-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 120px;
        row-gap: 55px;
        justify-content: center;
    }

    .item-help-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .help-item-img {
        width: 60px;
        height: 60px;
    }

    .help-item-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
    }

    .section-shelter-donation {
        background: #F6F6F6;
    }

    .shelter-donation-container {
        display: flex;
        justify-content: center;
        gap: 30px;  
        padding: 80px 40px 100px;
    }

    .donation-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .donation-title {
        text-align: left;
    }

    .donation-img-container {
        background: url(../../assets/images/donation-dog.png);
        width: 505px;
        height: 261px;
    }

    .donation-card-label {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
    }

    .donation-card-area {
        display: flex;
        gap: 15px;
        background: #F1CDB3;
        border-radius: 9px;
        padding: 10px 15px;
        align-items: center;
    }

    .card-img {
        width: 30px;
        height: 23px;
    }

    .card-number {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        text-decoration: none;
    }

    .donation-card-area:hover, .donation-card-area:active, .donation-card-area:focus{
        transition: .3s;
        background: #FDDCC4;
        cursor: pointer;
        color: #292929;
    }

    .legal-info {
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
        width: 380px;
    }

    .footer-container {
        background: url("../../assets/images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background-position: center 0;
        align-items: center;
        justify-content: space-between;
        padding: 40px 40px 0;
    }

    .footer-contacts-and-locations {
        display: flex;
        gap: 160px;
    }

    .footer-contacts,
    .footer-locations {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .footer-locations {
        gap: 33px;
    }

    .footer-title {
        text-align: left;
        color: #FFFFFF;
    }

    .footer-contacts-link {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        text-decoration: none;
    }

    .footer-contacts-link:hover, .footer-contacts-link:focus, .footer-contacts-link:active {
        transition: .3s;
        color: #FAFAFA;
    }

    .footer-info-container {
        display: flex;
        align-items: center;
        gap: 20px;

    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {

        header {
            height: 150px;
        }

        .container-header {
            padding: 30px 30px 60px;
        }

        .section-shelter-main {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 100px;
          }
    
          .container-main {
            background-position: center 0;
            padding: auto calc(50%-569px/2);
            justify-content: center;
            align-items: center;
          }

          .shelter-main-container {
            margin-right: 0;
        }

          .shelter-slogan {
            margin-top: 0;
          }

          .shelter-slogan-desc {
            margin-bottom: 42px;
          }

          .shelter-img-container {
            width: 569px;
            height: 593px;
            background: url(../../assets/images/start-screen-puppy_768.png);
            margin-left: calc(50% - 569px/2 + 70px);
            align-self: auto;
        }

        .shelter-desc-container-main {
            display: flex;
            flex-direction: column-reverse;
            margin: 80px calc(50% - 437px/2 - 0.5px) 100px;
            justify-content: center;
            gap: 80px;
            align-items: center;
            
        }

        .shelter-main-container .colored-btn {
            width: 207px;
            display: block;
            text-align: center;
            padding: 15px 0;
            margin: auto;
        }
    
        .shelter-img-desc-container {
            justify-self: center;
            background: url(../../assets/images/about-pets.png);
            width: 300px;
            height: 408px;  
        }

        .our-pets {
            justify-content: center;
            align-items: center;
        }

        .our-pets {
            gap: 12px;
        }

        .pets-container {
            gap: 40px;
        }

        .pets:last-child {
            display: none;
        }

        .uncolored-btn-pag {
            padding: calc(23px/2) 19px;
        }

        .help-container {
            column-gap: unset;
        }

        .item-help-container {
            flex: 0 0 33.33%;
        }

        .shelter-donation-container {
            flex-direction: column-reverse;
            align-items: center;
            gap: 60px;
        }

        .footer-container {
            flex-direction: column;
            gap: 65px;
            align-items: center;
            padding: 30px 64px 0;
        }

        .footer-contacts-and-locations {
            gap: 60px;
        }



    }












